<p>login works!</p>

<!-- <div>
    Username: <input [(ngModel)]="user.username"><br>
    
    Password:<input [(ngModel)]="user.password"><br>
    
    
    <button (click)="saveUser()">LOGIN</button><br>
    <button  class="btn btn-warning" routerLink="/User-Registration" routerLinkActive="active">Signup</button>

    </div> -->


    <div class="wrapper fadeInDown">
        <div id="formContent">
          <!-- Tabs Titles -->
          <h2 class="active"> Sign In </h2>
          <h2 class="inactive underlineHover" routerLink="/User-Registration" routerLinkActive="active">Sign Up </h2>
      
          <!-- Icon -->
          <!-- <div class="fadeIn first">
            <img src="http://danielzawadzki.com/codepen/01/icon.svg" id="icon" alt="User Icon" />
          </div> -->
      
          <!-- Login Form -->
          <form>
            <input type="text" id="login" class="fadeIn second" name="login" placeholder="login" [(ngModel)]="user.username">
            <input type="text" id="password" class="fadeIn third" name="login" placeholder="password" [(ngModel)]="user.password">
            <input type="submit" class="fadeIn fourth" value="Log In" (click)="saveUser()">
          </form>
      
          <!-- Remind Passowrd -->
          <div id="formFooter">
            <a class="underlineHover" href="#">Forgot Password?</a>
          </div>
      
        </div>
      </div>