<p>admin-home-page works!</p>

<nav class="navbar navbar-dark bg-dark">
    <a class="navbar-brand" >Navbar</a>
    <button  class="btn btn-dark" routerLink="/manage-airlines" routerLinkActive="active">manage-airlines</button>
    <button  class="btn btn-dark" routerLink="/flight-schedule" routerLinkActive="active">Schedule new airline</button>
    <button  class="btn btn-danger" routerLink="/login" routerLinkActive="active">Logout</button>

  </nav><br><br><br>

<!-- <button  class="btn btn-success" routerLink="/manage-airlines" routerLinkActive="active">manage-airlines</button><br><br>

<button  class="btn btn-success" routerLink="/flight-schedule" routerLinkActive="active">Schedule new airline</button><br><br> -->

<router-outlet></router-outlet>